@page "/orders"
@attribute [Authorize(Roles = BlazorShared.Authorization.Constants.Roles.ADMINISTRATORS)]
@inherits BlazorAdmin.Helpers.BlazorComponent
@namespace BlazorAdmin.Pages.OrdersPage

<PageTitle>eShopOnWeb Admin: Orders List</PageTitle>

<h1>Order List</h1>


@if (orderlistItems == null)
{
    <Spinner></Spinner>
}
else
{

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Order Date</th>
                <th>Customer</th>
                @*
            <th>Total Amount</th>
            <th>Order status</th>
            <th>Actions</th>
            *@
            </tr>
        </thead>
        <tbody class="cursor-pointer">
            @foreach (var item in orderlistItems)
            {
                <tr>
                    <td>@item.OrderDate</td>
                    <td>@item.BuyerId</td>
                </tr>

                @*
        <tr @onclick="@(() => DetailsClick(item.Id))">

        <td>@item.OrderDate</td>
        <td>@item.BuyerId</td>

        <td>@item.Total</td>
        <td>@item.OrderStatus</td>

        </tr>
        *@
            }
        </tbody>
    </table>

    //<Details Brands="@orderlistBrands" Types="@orderlistTypes" OnEditClick="EditClick" @ref="DetailsComponent"></Details>
}

